@{
}

@model List<DergiViewModel>

<div class="text-end">
    <a href="/Admin/Home/Ekle" class="btn btn-primary">Ekle</a>
</div>

<div class="card mt-3">
    <div class="card-header">
        Dergi Listesi
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>Adı</th>
                <th>Kategori</th>
                <th>İşlemler</th>
            </tr>
            @foreach (var dergi in Model)
            {
                <tr>
                    <td>@dergi.Adi</td>
                    <td>@dergi.KategoriAdi</td>
                    <td>
                        <a href="/Admin/Sayi/Index/@dergi.Id">sayılar</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>