<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YZL8436 Dergi</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="theme-color" content="#712cf9">
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="blog-header lh-1 py-3">
            <div class="row flex-nowrap">
                <div class="col-1 pt-1">
                    <a class="link-secondary" href="/Admin/Home/Index">Admin</a>
                </div>
                <div class="col-11 text-center">
                    <h1>Dergi</h1>
                </div>
            </div>
        </header>
    </div>
    <main class="container">
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
