@{
}

@model List<SayiViewModel>

<div class="text-end">
    <a href="/Admin/Sayi/Ekle" class="btn btn-primary">Ekle</a>
</div>

<div class="card mt-3">
    <div class="card-header">
        Sayılar
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>No</th>
                <th>Yayın Tarihi</th>
                <th>İşlemler</th>
            </tr>
            @foreach (var sayi in Model)
            {
                <tr>
                    <td>@sayi.No</td>
                    <td>@sayi.YayinTarihi.ToString("dd.MM.yyyy")</td>
                    <td>
                        <a href="/Admin/Makale/Index/@sayi.Id">makaleler</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>