@{
    ViewData["Title"] = "Home Page";
}

@model List<DergiViewModel>

<div class="row mb-2 mt-3">
    @foreach (var dergi in Model)
    {
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">@dergi.KategoriAdi</strong>
                    <h3 class="mb-0">@dergi.Adi</h3>
                    <p class="card-text mb-auto">@dergi.Aciklama</p>
                    <a href="/Home/Sayi/@dergi.Id" class="stretched-link">Sayılar</a>
                </div>
            </div>
        </div>
    }
</div>