@{
}

@model List<MakaleViewModel>

<div class="card mt-3">
    <div class="card-header">
        Makale Listesi
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>Başlık</th>
                <th>Özet</th>
            </tr>
            @foreach (var makale in Model)
            {
                <tr>
                    <td><a href="/Home/Makale/@makale.Id">@makale.Baslik</a></td>
                    <td>@makale.Ozet</td>
                </tr>
            }
        </table>
    </div>
</div>